##
## This file is part of pyformex 0.1 Release %s
## pyformex is a python implementation of Formex algebra
## (c) 2004 Benedict Verhegghe (email: benedict.verhegghe@ugent.be)
## Distributed under the General Public License, see file COPYING for details
##
